@import 'sanitize.css';
@import 'sanitize.css/forms.css';
@import 'sanitize.css/typography.css';
@import './var';

html {
  background-color: $bgColor;
  font-size: 100px;
  font-size: 13.88888889vw;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.24rem;
  color: $bodyTextColor;
}
