
@import '../../styles/controls-mixin';

:root {
  --footerHeight: 0.64rem;
}

.AppHeader {
  position: relative;
  min-height: calc(100vh - var(--footerHeight));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.AppFooter {
  min-height: var(--footerHeight);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.BtnGroup > button {
  @include button;
  display: block;
  min-width: 8em;
}

.AppLink {
  color: #61dafb;
}

.FooterLink {
  /* color: #CC00CC; */
  color: #66CDAA;
  margin: 0 1em;
}
